.mainBanner {
  padding: 50px 16px 0;
  background: url(../img/bannerBgImg.png) no-repeat center center;
  background-size: cover;

  position: relative;
  &.innerPage {
    padding: 13px 16px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(262.84deg, #662980 14.11%, #03437a 87.33%);
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  .container {
    flex-direction: column;
    color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    justify-content: center;
  }
  h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    margin-bottom: 5px;
    @media (max-width: 700px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  @media (max-width: 700px) {
    background: transparent;
    padding: 0;
    &:after {
      display: none;
    }
    &.innerPage {
      background: url(../img/bannerBgImg.png) no-repeat center center;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(262.84deg, #662980 14.11%, #03437a 87.33%);
        mix-blend-mode: normal;
        opacity: 0.3;
        display: block;
      }
    }
    .mbTopbanner {
      padding: 20px;
      background: url(../img/bannerBgImg.png) no-repeat center center;
      background-size: cover;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(262.84deg, #662980 14.11%, #03437a 87.33%);
        mix-blend-mode: normal;
        opacity: 0.3;
      }
    }
  }
}
.searchWrap {
  width: 100%;
  max-width: 727px;
  margin: 0 auto;
  padding: 28px 0 32px;

  .searchInfo {
    display: flex;
    padding-left: 30px;
    position: relative;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  @media (max-width: 700px) {
    padding-top: 0;
    margin-top: 20px;
    position: relative;
  }
}
.locateMeBtn {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 26px;
  cursor: pointer;
  &:before {
    width: 14px;
    height: 14px;
    display: inline-block;
    content: "";
    background: url(../img/locateIcon.svg) no-repeat;
    margin-right: 5px;
  }
  @media (max-width: 768px) {
    position: absolute;
    top: 68px;
    right: 10px;
    color: #808080;
    font-size: 14px;
    z-index: 1;
    margin: 0;
    &:before {
      background: url(../img/locateIconGray.svg) no-repeat;
    }
  }
}
.mainSearchWrapper {
  width: 100%;
  position: relative;
  margin-top: 10px;
  // &:after {
  //   position: absolute;
  //   top: 12px;
  //   left: 10px;
  //   width: 32px;
  //   height: 32px;
  //   content: "";
  //   background: url(../img/pinSearch.png);
  //   @media (max-width: 700px) {
  //     top: 9px;
  //   }
  // }
  input[type="text"] {
    width: 100%;
    background: #fff;
    border: 0;
    box-shadow: 0px 21px 24px 6px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    height: 55px;
    padding: 5px 115px 5px 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    @media (max-width: 768px) {
      // padding: 5px 5px 5px 50px;
      padding: 5px 100px 5px 60px;
      height: 50px;
    }
    @media (max-width: 700px) {
      font-size: 14px;
      padding-right: 100px;
    }
  }
  .searchBtnwrap {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 6px;

    a + a {
      margin-left: 6px;
    }
    @media (max-width: 768px) {
      position: relative;
      width: 100%;
      justify-content: center;
      margin-top: 15px;
      .gradientBtn {
        min-width: 230px;
      }
    }
  }
  @media (max-width: 700px) {
    margin-top: 0;
  }
}
.searchRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;

  &:after {
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    height: 80%;
    width: 1px;
    background: #acacac;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  }
  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    content: "";
    background: url(../img/searchIcon.svg) no-repeat;
    // @media (max-width: 700px) {
    //   top: 9px;
    // }
  }
  label {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    line-height: 50px;
    cursor: pointer;
    & + label {
      margin-left: 15px;
    }
    input[type="radio"] {
      display: none;
      &:checked {
        & + span {
          color: #000;
          @media (max-width: 768px) {
            color: #fff;
          }
          &:after {
            border: 1px solid #000;
            @media (max-width: 768px) {
              border: 1px solid #fff;
            }
          }
          &:before {
            transform: translateY(-50%) scale(1);
          }
        }
      }
    }
    span {
      position: relative;
      padding-left: 30px;
      &:after {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #b5b5b5;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        background: linear-gradient(270deg, #652a80 0%, #bd2d2f 105.51%);
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%) scale(0);
        transition: 0.3s;
        @media (max-width: 768px) {
          background: #fff;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    height: 50px;
  }
  @media (max-width: 768px) {
    position: relative;
    &::before {
      left: 10px;
      top: 100%;
      margin-top: 27px;
    }
    &::after {
      display: none;
    }
  }
}
.popularCity {
  text-align: center;

  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
  .plList {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    @media (max-width: 768px) {
      padding: 0 35px;
      display: block;
    }
    li {
      display: inline-flex;
      padding: 0 15px;
      @media (max-width: 700px) {
        padding: 0 5px;
        width: 105px;
      }
      a {
        color: #fff;
        text-decoration: underline;
        display: inline-flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        &:hover {
          i {
            transform: translateY(-6px);
          }
        }
      }
      i {
        width: 94px;
        height: 65px;
        margin-bottom: 9px;
        transform: translateY(0px);
        transition: 0.3s;
        &.mumbai {
          background: url(../img/mumbai.png) no-repeat center bottom;
          background-size: contain;
        }
        &.delhi {
          background: url(../img/delhi.png) no-repeat center bottom;
          background-size: contain;
        }
        &.banglore {
          background: url(../img/banglore.png) no-repeat center bottom;
          background-size: contain;
        }
        &.Hyderabad {
          background: url(../img/Hyderabad.png) no-repeat center bottom;
          background-size: contain;
        }
        &.Chennai {
          background: url(../img/Chennai.png) no-repeat center bottom;
          background-size: contain;
        }
        &.Kolkata {
          background: url(../img/Kolkata.png) no-repeat center bottom;
          background-size: contain;
        }
        @media (max-width: 700px) {
          opacity: 0.7;
          &.mumbai {
            background: url(../img/mumbaiBlack.png) no-repeat center bottom;
          }
          &.delhi {
            background: url(../img/delhiBlack.png) no-repeat center bottom;
          }
          &.banglore {
            background: url(../img/bangloreBlack.png) no-repeat center bottom;
          }
          &.Hyderabad {
            background: url(../img/HyderabadBlack.png) no-repeat center bottom;
          }
          &.Chennai {
            background: url(../img/ChennaiBlack.png) no-repeat center bottom;
          }
          &.Kolkata {
            background: url(../img/KolkataBlack.png) no-repeat center bottom;
          }
        }
      }
      strong {
        width: 100%;
        display: block;
        @media (max-width: 700px) {
          color: #000;
          font-weight: 400;
        }
      }
    }
  }
}
.productOffer {
  padding-top: 36px;
  @media (max-width: 1024px) {
    .container {
      flex-wrap: wrap;
    }
  }
  .poBox {
    width: 50%;
    padding-right: 9px;
    & + .poBox {
      padding-left: 9px;
      padding-right: 0;
    }
    @media (max-width: 1024px) {
      width: 100%;
      padding: 0px 0 30px 0 !important;
      .newProduct {
        padding-bottom: 25px;
      }
    }
  }
}
.poInnerBox {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  margin-top: 20px;
  width: 100%;
  height: 306px;

  @media (max-width: 1024px) {
    flex-flow: unset;
    align-content: unset;
    height: auto;
    justify-content: space-between;
  }
  @media (max-width: 701px) {
    display: block;
    width: calc(100% + 20px);
    margin: 20px -10px 0;
    .slick-slide {
      padding: 0 10px;
    }
  }
  .potwoBox {
    width: 49%;
  }
  .poCardwrap {
    width: 49%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    position: relative;
    @media (max-width: 1024px) {
      width: 32.33%;

      img {
        height: 296px;
        object-fit: cover;
        width: 100%;
      }
    }
    &:last-child {
      margin-top: clamp(10px, 1.4vw, 19px);
      @media (max-width: 1024px) {
        margin-top: 0px;
      }
    }
    img {
      width: 100%;
    }
    span {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 135px;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      &:after {
        position: absolute;
        top: -7px;
        right: -5px;
        width: 17px;
        height: calc(100% + 10px);
        border: solid 2px #fff;
        border-left: 0;
        content: "";
      }
      &:before {
        position: absolute;
        top: -7px;
        left: -5px;
        width: 17px;
        height: calc(100% + 10px);
        border: solid 2px #fff;
        border-right: 0;
        content: "";
      }
    }
  }
}
.offerBanner {
  h4 {
    position: absolute;
    top: 50px;
    right: 20px;
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    color: #fff;
  }
}
.reviewSlider {
  width: 100%;
  margin: 0 !important;
  .reviewItem {
    line-height: 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100px;
      opacity: 0.5;
      background: linear-gradient(
        0deg,
        #000000 30.73%,
        rgba(196, 196, 196, 0) 100%
      );
      left: 0;
      bottom: 0;
    }
    h4 {
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-weight: 800;
      font-size: 25px;
      line-height: 27px;
      color: #fff;
      z-index: 11;
    }
  }
  .slick-slide {
    line-height: 0;
  }
  .slick-dots {
    position: absolute;
    bottom: 10px;
    right: 10px;
    top: auto;
    width: auto;
    left: auto;
    > li button {
      background: #fff;
    }
  }
}

.aceContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  h4 {
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    color: #fff;
  }
  .aceslider {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    li {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    i {
      width: 42px;
      height: 42px;
      display: inline-flex;
      &.instDelivery {
        background: url(../img/shipping.svg) no-repeat center center;
      }
      &.inPerson {
        background: url(../img/user-check.svg) no-repeat center center;
      }
      &.inAccessories {
        background: url(../img/accessoris.svg) no-repeat center center;
      }
    }
    strong {
      font-size: 14px;
      width: 100%;
      font-weight: normal;
    }
  }
}
.reviewSlider .slick-slide {
  padding: 0 !important;
}
